* {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #1b0101;
  font-family: 'Open Sans', sans-serif;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem;
  height: 7rem;
}

.header__logo {
  font-size: 3rem;
  text-decoration: none;
  color: #ffffff;
}

.header__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header__list li {
  color: rgb(226, 224, 224);
}

.header__link {
  margin-right: 2.7rem;
  font-size: 1.5rem;
}
.header__link:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgb(122, 1, 1);
}

.header__search {
  font-size: 1.4rem;
  padding: 1rem;
  border: 0.2rem solid #1a191f;
  border-radius: 0.5rem;
  outline: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie {
  width: 24rem;
  margin: 1rem;
  position: relative;
}
.movie:hover {
  transform: scale(1.06);
}
.movie__cover-inner {
  position: relative;
  height: 36rem;
}

.movie__cover {
  max-width: 100%;
  height: 100%;
}

.movie__cover--darkened {
  background-color: #000000;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
}

.movie__cover--darkened:hover {
  background-color: grey;
  cursor: pointer;
}

.movie__info {
  padding: 3rem 0rem;
}

.movie__title {
  font-size: 1.6rem;
  color: #ffffff;
}

.movie__category {
  font-size: 1.4rem;
  color: #ffd80e;
}

.movie__average {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 0;
  border-radius: 50%;
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a191f;
  color: #ffffff;
  font-size: 1.4rem;
}
/* .movie__favorite {
  position: absolute;
  top: 10rem;
  right: 1rem;
  left: 0;
  border-radius: 50%;
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: red;
  font-size: 1.4rem;
} */
.movie__average--green {
  border: 0.1rem solid green;
}

.movie__average--orange {
  border: 0.1rem solid orange;
}

.movie__average--red {
  border: 0.1rem solid red;
}

ul li {
  padding: 0.5rem;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* Стили для кнопки избранного */
.favorite-btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

/* Стили при наведении на кнопку избранного */
.favorite-btn:hover {
  transform: scale(1.2);
}
